 <root>
    <name>Armadito plugin for GLPI</name>
    <key>armadito-glpi</key>
    <state>beta</state>
    <logo>https://raw.githubusercontent.com/armadito/armadito-glpi/DEV/pics/logo-armadito-192x192.png</logo>
    <description>
       <short>
          <en>Armadito for GLPI is an open-source solution to manage computer antiviruses on IT infrastructures. It could be used to manage various kind of Antiviruses.</en>
          <fr>Armadito for GLPI est une solution open-source de gestion d'un parc informatique d'antivirus. Il peut s'agir de différents types d'antivirus.</fr>
       </short>
       <long>
          <en>
    # Armadito for GLPI

	Most Antiviruses editors provide their own management solution.
	While it is a good solution for most companies, it can be an
	expensive solution. Indeed, most antiviruses management services
	are not open-source, leading users to worrying about their data.

	Also, Armadito for GLPI aims to be a free and open-source
	alternative for these needs. Conceived as modular as possible,
	it should offer a reduced development effort for new features.
	In addition, a great attention is given to code quality,
	see SonarQube.com for details.

	Compatiblity matrix :

	| Antivirus | OS     | Versions | Scan | Alert | AVConf | State |
	|:----------|:------:|:--------:|:----:|:-----:|:------:|:-----:|
	| Armadito  | Linux  | 0.12.8   | Yes  | Yes   | Soon   | Yes   |
	| Kaspersky | Win32  | 17.0.0   | Yes  | Yes   | Yes    | Yes   |
	| ESETNod32 | Linux  | 4.0      | Yes  | Yes   | Soon   | Yes   |
	| Avast     | Win32  |          | Soon | Soon  | Soon   | Soon  |
	| 360Total  | Win32  |          | Soon | Soon  | Soon   | Soon  |
	| ...       | ...    |  ...     | ...  | ...   | ...    | ...   |
		  </en>
        </long>
    </description>
    <homepage>http://armadito-glpi.readthedocs.io/en/dev/</homepage>
    <download>https://github.com/armadito/armadito-glpi/releases</download>
    <issues>https://github.com/armadito/armadito-glpi/issues</issues>
    <readme>https://github.com/armadito/armadito-glpi/blob/DEV/README.md</readme>
    <authors>
       <author>Valentin Hamon</author>
    </authors>
    <versions>
       <version>
          <num>0.10.1</num>
          <compatibility>9.1.1</compatibility>
       </version>
    </versions>
    <langs>
       <lang>en_GB</lang>
    </langs>
    <license>AGPLv3+</license>
    <tags>
       <en>
          <tag>antivirus</tag>
          <tag>management</tag>
          <tag>open-source</tag>
       </en>
       <fr>
          <tag>antivirus</tag>
          <tag>management</tag>
          <tag>open-source</tag>
       </fr>
    </tags>
    <screenshots>
       <screenshot>http://armadito-glpi.readthedocs.io/en/dev/_images/list_agents.png</screenshot>
       <screenshot>http://armadito-glpi.readthedocs.io/en/dev/_images/newscan_form.png</screenshot>
       <screenshot>http://armadito-glpi.readthedocs.io/en/dev/_images/config_colors.png</screenshot>
    </screenshots>
 </root>
